<style>
	div#dorivalmoreira {
		border: 0px solid #000;
		//width: 1051px;
		height: 800px;
		min-height: 800px;
	}
	div#wrapper {
		width: 850px;
		height: 800px;
		float: left;
		text-align: center;
		//Borda que pode posicionar as imaggens
		border: 1px solid #000;
		//overflow:scroll;
	}
	ul.gallery {
		border: 0px solid #000;
		margin: 50;
		padding: 0;
		list-style: none;
	}
	ul.gallery li {
		float: left;
		width: 750px;
		margin: 0px 0px 0px 0px;
		border: 0px #fff;
	}
	ul.gallery li:nth-child(1n), ul.gallery li.last {
		margin-right: 0;
	}
</style>